---
layout: 'gallery'
---

%h2 Kunst

%p In der Kunst liegt unser Ursprung und die ganz grosse Leidenschaft. Wir formen aus Stein, Holz, Metal und Kunstharzen zeitlose Kunst für Innen- und Aussenräume welche Ihnen lange Freude bereiten wird. Wenn Sie auf der Suche nach etwas Einzigartigem sind, was individuell für Sie nach ihren Ideen entwickelt wird, dann sind sie bei uns genau richtig.
%h3 Portraits

%p
  Wir begleiten Sie durch den ganzen kreativen Prozess der Erstellung eines Portraits: vom Gespräch zu den Skizzen, vom Tonmodel bis zum Bronzeguss, und das alles aus einer Hand. Wenn Sie einen kleinen Einblick in die Entstehung eines Portraits haben möchten, empfehlen wir Ihnen den Besuch der Rubrik
  = succeed '.' do
    = link_to 'Techniken', '/kunst/techniken.html'

%h3 Impressionen
%p
  Wir laden Sie in der Bildergalerie einen kleinen Ausschnitt aus dem künstlerischen Schaffen von Rafael Häfliger (
  = link_to 'Biographie', '/ueber-uns/biographie-rafael-haefliger.html'
  ) zu entdecken:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Kunst', '#kunst', name: 'kunst'
  %li
    = link_to '➜Portraits modellieren', '#portraits-modellieren', name: 'portraits-modellieren'

#gallery
  .item.kunst
    %span.description{style: 'display: none;'} Kopf im Steinbruch in eine Felswand gehauen.
    %span.name{style: 'display: none;'} Kopf vier Meter hoch
    %img{alt: 'kunst: Kopf vier Meter hoch, Kopf im Steinbruch in eine Felswand gehauen.', 'data-large' => '/images/galleries/119/x_440x.jpg', 'data-small' => '/images/galleries/119/x_220x.jpg', src: '/images/galleries/119/x_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf vier Meter hoch
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Der_Weise
    %img{alt: 'kunst: Der_Weise, ', 'data-large' => '/images/galleries/119/Der_Weise_440x.jpg', 'data-small' => '/images/galleries/119/Der_Weise_220x.jpg', src: '/images/galleries/119/Der_Weise_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Der_Weise
  .item.kunst
    %span.description{style: 'display: none;'} Sandstein Figur 4 Meter hoch!
    %span.name{style: 'display: none;'} Figur am Sagenweg
    %img{alt: 'kunst: Figur am Sagenweg, Sandstein Figur 4 Meter hoch! ', 'data-large' => '/images/galleries/119/IMGP2579_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2579_220x.jpg', src: '/images/galleries/119/IMGP2579_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Figur am Sagenweg
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Einsicht Aussicht
    %img{alt: 'kunst: Einsicht Aussicht , ', 'data-large' => '/images/galleries/119/Zyklus_D11_440x_440x.jpg', 'data-small' => '/images/galleries/119/Zyklus_D11_440x_220x.jpg', src: '/images/galleries/119/Zyklus_D11_440x_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Einsicht Aussicht
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wisagloria Velo
    %img{alt: 'kunst: Wisagloria Velo, ', 'data-large' => '/images/galleries/119/IMG_0131_440x.JPG', 'data-small' => '/images/galleries/119/IMG_0131_220x.JPG', src: '/images/galleries/119/IMG_0131_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Wisagloria Velo
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Visagloria Velo
    %img{alt: 'kunst: Visagloria Velo, ', 'data-large' => '/images/galleries/119/IMG_0156_440x.JPG', 'data-small' => '/images/galleries/119/IMG_0156_220x.JPG', src: '/images/galleries/119/IMG_0156_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Visagloria Velo
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kopf rosa Marmor
    %img{alt: 'kunst: Kopf rosa Marmor, ', 'data-large' => '/images/galleries/119/Kunst_30_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_30_220x.jpg', src: '/images/galleries/119/Kunst_30_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf rosa Marmor
  .item.kunst
    %span.description{style: 'display: none;'} Sandstein
    %span.name{style: 'display: none;'} Drache
    %img{alt: 'kunst: Drache, Sandstein', 'data-large' => '/images/galleries/119/Kunst_1_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_1_220x.jpg', src: '/images/galleries/119/Kunst_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Drache
  .item.kunst
    %span.description{style: 'display: none;'} Marmor
    %span.name{style: 'display: none;'} Gegenüberstellung
    %img{alt: 'kunst: Gegenüberstellung , Marmor', 'data-large' => '/images/galleries/119/Kunst_2_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_2_220x.jpg', src: '/images/galleries/119/Kunst_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gegenüberstellung
  .item.kunst
    %span.description{style: 'display: none;'} Bronze
    %span.name{style: 'display: none;'} Sitzende
    %img{alt: 'kunst: Sitzende , Bronze', 'data-large' => '/images/galleries/119/Kunst_3_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_3_220x.jpg', src: '/images/galleries/119/Kunst_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sitzende
  .item.kunst
    %span.description{style: 'display: none;'} Bronze patiniert
    %span.name{style: 'display: none;'} Sitzende
    %img{alt: 'kunst: Sitzende , Bronze patiniert ', 'data-large' => '/images/galleries/119/Kunst_4_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_4_220x.jpg', src: '/images/galleries/119/Kunst_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sitzende
  .item.kunst
    %span.description{style: 'display: none;'} Kalkstein
    %span.name{style: 'display: none;'} Maori Köpfe
    %img{alt: 'kunst: Maori Köpfe, Kalkstein', 'data-large' => '/images/galleries/119/Kunst_5_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_5_220x.jpg', src: '/images/galleries/119/Kunst_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Maori Köpfe
  .item.kunst
    %span.description{style: 'display: none;'} Holz Diverse Stein Sorten
    %span.name{style: 'display: none;'} Kopf Stehle
    %img{alt: 'kunst: Kopf Stehle , Holz Diverse Stein Sorten ', 'data-large' => '/images/galleries/119/Kunst_6_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_6_220x.jpg', src: '/images/galleries/119/Kunst_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf Stehle
  .item.kunst
    %span.description{style: 'display: none;'} Sandstein
    %span.name{style: 'display: none;'} Kopf
    %img{alt: 'kunst: Kopf, Sandstein ', 'data-large' => '/images/galleries/119/Kunst_7_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_7_220x.jpg', src: '/images/galleries/119/Kunst_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Brennende Männer
    %span.name{style: 'display: none;'} Gips Model
    %img{alt: 'kunst: Gips Model, Brennende Männer ', 'data-large' => '/images/galleries/119/Kunst_8_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_8_220x.jpg', src: '/images/galleries/119/Kunst_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gips Model
  .item.kunst
    %span.description{style: 'display: none;'} Marmor
    %span.name{style: 'display: none;'} Maori Kopf
    %img{alt: 'kunst: Maori Kopf, Marmor', 'data-large' => '/images/galleries/119/Kunst_9_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_9_220x.jpg', src: '/images/galleries/119/Kunst_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Maori Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Kalkstein
    %span.name{style: 'display: none;'} Echse
    %img{alt: 'kunst: Echse, Kalkstein', 'data-large' => '/images/galleries/119/Kunst_10_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_10_220x.jpg', src: '/images/galleries/119/Kunst_10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Echse
  .item.kunst
    %span.description{style: 'display: none;'} Kalkstein
    %span.name{style: 'display: none;'} Echse
    %img{alt: 'kunst: Echse, Kalkstein', 'data-large' => '/images/galleries/119/Kunst_11_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_11_220x.jpg', src: '/images/galleries/119/Kunst_11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Echse
  .item.kunst
    %span.description{style: 'display: none;'} Sandstein Holz
    %span.name{style: 'display: none;'} Köpfe
    %img{alt: 'kunst: Köpfe, Sandstein Holz', 'data-large' => '/images/galleries/119/Kunst_12_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_12_220x.jpg', src: '/images/galleries/119/Kunst_12_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Köpfe
  .item.kunst
    %span.description{style: 'display: none;'} Holz Diverse Naturstein Sorten
    %span.name{style: 'display: none;'} Die Weisen
    %img{alt: 'kunst: Die Weisen , Holz Diverse Naturstein Sorten', 'data-large' => '/images/galleries/119/Kunst_13_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_13_220x.jpg', src: '/images/galleries/119/Kunst_13_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Die Weisen
  .item.kunst
    %span.description{style: 'display: none;'} Beton
    %span.name{style: 'display: none;'} Grosser Kopf
    %img{alt: 'kunst: Grosser Kopf, Beton', 'data-large' => '/images/galleries/119/Kunst_14_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_14_220x.jpg', src: '/images/galleries/119/Kunst_14_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grosser Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Kunstharz Farbe
    %span.name{style: 'display: none;'} Betrachter
    %img{alt: 'kunst: Betrachter, Kunstharz Farbe', 'data-large' => '/images/galleries/119/Kunst_15_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_15_220x.jpg', src: '/images/galleries/119/Kunst_15_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Betrachter
  .item.kunst
    %span.description{style: 'display: none;'} Beton Holz
    %span.name{style: 'display: none;'} Einsicht Aussicht
    %img{alt: 'kunst: Einsicht Aussicht , Beton Holz', 'data-large' => '/images/galleries/119/Kunst_16_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_16_220x.jpg', src: '/images/galleries/119/Kunst_16_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Einsicht Aussicht
  .item.kunst
    %span.description{style: 'display: none;'} Holz Höhe 5m
    %span.name{style: 'display: none;'} Pfahl
    %img{alt: 'kunst: Pfahl , Holz Höhe 5m', 'data-large' => '/images/galleries/119/Kunst_17_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_17_220x.jpg', src: '/images/galleries/119/Kunst_17_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Pfahl
  .item.kunst
    %span.description{style: 'display: none;'} Spinne Bronze
    %span.name{style: 'display: none;'} Spinne
    %img{alt: 'kunst: Spinne , Spinne Bronze ', 'data-large' => '/images/galleries/119/Kunst_18_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_18_220x.jpg', src: '/images/galleries/119/Kunst_18_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Spinne
  .item.kunst
    %span.description{style: 'display: none;'} Gips Farbe
    %span.name{style: 'display: none;'} Stehlen Gruppe
    %img{alt: 'kunst: Stehlen Gruppe , Gips Farbe', 'data-large' => '/images/galleries/119/Kunst_19_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_19_220x.jpg', src: '/images/galleries/119/Kunst_19_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stehlen Gruppe
  .item.kunst
    %span.description{style: 'display: none;'} Speckstein
    %span.name{style: 'display: none;'} Windrad
    %img{alt: 'kunst: Windrad , Speckstein ', 'data-large' => '/images/galleries/119/Kunst_20_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_20_220x.jpg', src: '/images/galleries/119/Kunst_20_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Windrad
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Sandstein Stehle
    %img{alt: 'kunst: Sandstein Stehle , ', 'data-large' => '/images/galleries/119/Kunst_21_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_21_220x.jpg', src: '/images/galleries/119/Kunst_21_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sandstein Stehle
  .item.kunst
    %span.description{style: 'display: none;'} Linden Holz geflammt
    %span.name{style: 'display: none;'} Nachbar
    %img{alt: 'kunst: Nachbar , Linden Holz geflammt ', 'data-large' => '/images/galleries/119/Kunst_22_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_22_220x.jpg', src: '/images/galleries/119/Kunst_22_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Nachbar
  .item.kunst
    %span.description{style: 'display: none;'} Stein
    %span.name{style: 'display: none;'} Flach Kopf
    %img{alt: 'kunst: Flach Kopf, Stein', 'data-large' => '/images/galleries/119/Kunst_24_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_24_220x.jpg', src: '/images/galleries/119/Kunst_24_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Flach Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Köpfe Turm Kalkstein
    %span.name{style: 'display: none;'} Köpfe Turm
    %img{alt: 'kunst: Köpfe Turm , Köpfe Turm Kalkstein ', 'data-large' => '/images/galleries/119/Kunst_25_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_25_220x.jpg', src: '/images/galleries/119/Kunst_25_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Köpfe Turm
  .item.kunst
    %span.description{style: 'display: none;'} Baum des Lebens Kalkstein
    %span.name{style: 'display: none;'} Baum des Lebens
    %img{alt: 'kunst: Baum des Lebens , Baum des Lebens Kalkstein', 'data-large' => '/images/galleries/119/Kunst_26_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_26_220x.jpg', src: '/images/galleries/119/Kunst_26_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Baum des Lebens
  .item.kunst
    %span.description{style: 'display: none;'} Maori Kopf Kalkstein
    %span.name{style: 'display: none;'} Maori Kopf
    %img{alt: 'kunst: Maori Kopf , Maori Kopf Kalkstein ', 'data-large' => '/images/galleries/119/Kunst_27_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_27_220x.jpg', src: '/images/galleries/119/Kunst_27_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Maori Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Gebrannter Ton Alter Fenstersturz (Eichenholz)
    %span.name{style: 'display: none;'} Völkerbalken
    %img{alt: 'kunst: Völkerbalken, Gebrannter Ton Alter Fenstersturz (Eichenholz)', 'data-large' => '/images/galleries/119/Kunst_28_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_28_220x.jpg', src: '/images/galleries/119/Kunst_28_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Völkerbalken
  .item.kunst
    %span.description{style: 'display: none;'} Kalkstein
    %span.name{style: 'display: none;'} Windkopf
    %img{alt: 'kunst: Windkopf, Kalkstein', 'data-large' => '/images/galleries/119/Kunst_29_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_29_220x.jpg', src: '/images/galleries/119/Kunst_29_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Windkopf
  .item.kunst
    %span.description{style: 'display: none;'} Polyester Blattgold
    %span.name{style: 'display: none;'} Buddha
    %img{alt: 'kunst: Buddha , Polyester Blattgold ', 'data-large' => '/images/galleries/119/Kunst_31_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_31_220x.jpg', src: '/images/galleries/119/Kunst_31_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Buddha
  .item.kunst
    %span.description{style: 'display: none;'} Beton
    %span.name{style: 'display: none;'} Chemine
    %img{alt: 'kunst: Chemine , Beton', 'data-large' => '/images/galleries/119/Kunst_32_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_32_220x.jpg', src: '/images/galleries/119/Kunst_32_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Chemine
  .item.kunst
    %span.description{style: 'display: none;'} Sandstein
    %span.name{style: 'display: none;'} Kopf
    %img{alt: 'kunst: Kopf, Sandstein', 'data-large' => '/images/galleries/119/Kunst_33_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_33_220x.jpg', src: '/images/galleries/119/Kunst_33_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Bronze
    %span.name{style: 'display: none;'} Ohne Titel
    %img{alt: 'kunst: Ohne Titel , Bronze', 'data-large' => '/images/galleries/119/Kunst_34_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_34_220x.jpg', src: '/images/galleries/119/Kunst_34_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Ohne Titel
  .item.kunst
    %span.description{style: 'display: none;'} Beton Eichenholz
    %span.name{style: 'display: none;'} Flammen Kopf
    %img{alt: 'kunst: Flammen Kopf , Beton Eichenholz ', 'data-large' => '/images/galleries/119/Kunst_35_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_35_220x.jpg', src: '/images/galleries/119/Kunst_35_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Flammen Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Gips Patiniert
    %span.name{style: 'display: none;'} Stehle
    %img{alt: 'kunst: Stehle, Gips Patiniert ', 'data-large' => '/images/galleries/119/Kunst_36_440x.jpg', 'data-small' => '/images/galleries/119/Kunst_36_220x.jpg', src: '/images/galleries/119/Kunst_36_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stehle
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst
    %img{alt: 'kunst: Kunst, ', 'data-large' => '/images/galleries/119/IMGP2978_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2978_220x.jpg', src: '/images/galleries/119/IMGP2978_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst
    %img{alt: 'kunst: Kunst, ', 'data-large' => '/images/galleries/119/IMGP2971_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2971_220x.jpg', src: '/images/galleries/119/IMGP2971_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst
    %img{alt: 'kunst: Kunst, ', 'data-large' => '/images/galleries/119/IMGP2964_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2964_220x.jpg', src: '/images/galleries/119/IMGP2964_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Jesus gefangen
    %img{alt: 'kunst: Jesus gefangen , ', 'data-large' => '/images/galleries/119/IMGP3025_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3025_220x.jpg', src: '/images/galleries/119/IMGP3025_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Jesus gefangen
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kreuz aus Kreuz
    %img{alt: 'kunst: Kreuz aus Kreuz, ', 'data-large' => '/images/galleries/119/IMGP3031_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3031_220x.jpg', src: '/images/galleries/119/IMGP3031_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kreuz aus Kreuz
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Stehle
    %img{alt: 'kunst: Stehle, ', 'data-large' => '/images/galleries/119/IMGP3039_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3039_220x.jpg', src: '/images/galleries/119/IMGP3039_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stehle
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Köpfe
    %img{alt: 'kunst: Köpfe, ', 'data-large' => '/images/galleries/119/IMGP3040_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3040_220x.jpg', src: '/images/galleries/119/IMGP3040_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Köpfe
  .item.kunst
    %span.description{style: 'display: none;'} Figur:Sandstein
    %span.name{style: 'display: none;'} Köpfe
    %img{alt: 'kunst: Köpfe, Figur:Sandstein', 'data-large' => '/images/galleries/119/IMGP3044_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3044_220x.jpg', src: '/images/galleries/119/IMGP3044_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Köpfe
  .item.kunst
    %span.description{style: 'display: none;'} Material:Marmor
    %span.name{style: 'display: none;'} Thorso
    %img{alt: 'kunst: Thorso , Material:Marmor', 'data-large' => '/images/galleries/119/IMGP3045_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3045_220x.jpg', src: '/images/galleries/119/IMGP3045_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Thorso
  .item.kunst
    %span.description{style: 'display: none;'} Gips patiniert
    %span.name{style: 'display: none;'} Stehle
    %img{alt: 'kunst: Stehle, Gips patiniert ', 'data-large' => '/images/galleries/119/IMGP3049_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3049_220x.jpg', src: '/images/galleries/119/IMGP3049_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stehle
  .item.kunst
    %span.description{style: 'display: none;'} Gips, Glas,Holz
    %span.name{style: 'display: none;'} Kopf
    %img{alt: 'kunst: Kopf, Gips, Glas,Holz', 'data-large' => '/images/galleries/119/IMGP3050_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3050_220x.jpg', src: '/images/galleries/119/IMGP3050_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Gips Patiniert Stahl,Holz.
    %span.name{style: 'display: none;'} Schacht
    %img{alt: 'kunst: Schacht, Gips Patiniert Stahl,Holz.', 'data-large' => '/images/galleries/119/IMGP3051_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3051_220x.jpg', src: '/images/galleries/119/IMGP3051_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schacht
  .item.kunst
    %span.description{style: 'display: none;'} Fölkerbalken
    %span.name{style: 'display: none;'} Diverse Materialien
    %img{alt: 'kunst: Diverse Materialien, Fölkerbalken', 'data-large' => '/images/galleries/119/IMGP3053_440x.jpg', 'data-small' => '/images/galleries/119/IMGP3053_220x.jpg', src: '/images/galleries/119/IMGP3053_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Diverse Materialien
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Leute
    %img{alt: 'kunst: Leute, ', 'data-large' => '/images/galleries/119/sc0001c20d.tif.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc0001c20d.tif.jpg_220x.jpg', src: '/images/galleries/119/sc0001c20d.tif.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Leute
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} sc0001d1a8.tif.jpg
    %img{alt: 'kunst: sc0001d1a8.tif.jpg, ', 'data-large' => '/images/galleries/119/sc0001d1a8.tif.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc0001d1a8.tif.jpg_220x.jpg', src: '/images/galleries/119/sc0001d1a8.tif.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} sc0001d1a8.tif.jpg
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Baum des Lebens
    %img{alt: 'kunst: Baum des Lebens, ', 'data-large' => '/images/galleries/119/sc0006f756.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc0006f756.jpg_220x.jpg', src: '/images/galleries/119/sc0006f756.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Baum des Lebens
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Maske
    %img{alt: 'kunst: Maske, ', 'data-large' => '/images/galleries/119/sc0008c00b.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc0008c00b.jpg_220x.jpg', src: '/images/galleries/119/sc0008c00b.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Maske
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Völkerbalken
    %img{alt: 'kunst: Völkerbalken, ', 'data-large' => '/images/galleries/119/sc00019d14.tif.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc00019d14.tif.jpg_220x.jpg', src: '/images/galleries/119/sc00019d14.tif.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Völkerbalken
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Druiedengruppe
    %img{alt: 'kunst: Druiedengruppe , ', 'data-large' => '/images/galleries/119/sc00045a16.tif.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc00045a16.tif.jpg_220x.jpg', src: '/images/galleries/119/sc00045a16.tif.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Druiedengruppe
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kopf Stehle
    %img{alt: 'kunst: Kopf Stehle, ', 'data-large' => '/images/galleries/119/sc00070334.jpg_440x.jpg', 'data-small' => '/images/galleries/119/sc00070334.jpg_220x.jpg', src: '/images/galleries/119/sc00070334.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf Stehle
  .item.kunst
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Maori Kopf
    %img{alt: 'kunst: Maori Kopf, ', 'data-large' => '/images/galleries/119/Maorik_pfe3.JPG_440x.jpg', 'data-small' => '/images/galleries/119/Maorik_pfe3.JPG_220x.jpg', src: '/images/galleries/119/Maorik_pfe3.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Maori Kopf
  .item.kunst
    %span.description{style: 'display: none;'} Material:Bronze
    %span.name{style: 'display: none;'} Akt
    %img{alt: 'kunst: Akt, Material:Bronze', 'data-large' => '/images/galleries/119/IMGP1198.JPG_440x.jpg', 'data-small' => '/images/galleries/119/IMGP1198.JPG_220x.jpg', src: '/images/galleries/119/IMGP1198.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Akt
  .item.kunst
    %span.description{style: 'display: none;'} Material:Bronze
    %span.name{style: 'display: none;'} Akt
    %img{alt: 'kunst: Akt, Material:Bronze', 'data-large' => '/images/galleries/119/IMGP1200.JPG_440x.jpg', 'data-small' => '/images/galleries/119/IMGP1200.JPG_220x.jpg', src: '/images/galleries/119/IMGP1200.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Akt
  .item.kunst
    %span.description{style: 'display: none;'} Gips patiniert
    %span.name{style: 'display: none;'} Freiamt
    %img{alt: 'kunst: Freiamt, Gips patiniert ', 'data-large' => '/images/galleries/119/IMGP2293_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2293_220x.jpg', src: '/images/galleries/119/IMGP2293_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Freiamt
  .item.kunst
    %span.description{style: 'display: none;'} Gips patiniert
    %span.name{style: 'display: none;'} Freiamt
    %img{alt: 'kunst: Freiamt, Gips patiniert ', 'data-large' => '/images/galleries/119/IMGP2294_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2294_220x.jpg', src: '/images/galleries/119/IMGP2294_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Freiamt
  .item.kunst
    %span.description{style: 'display: none;'} Gips patiniert
    %span.name{style: 'display: none;'} Freiamt
    %img{alt: 'kunst: Freiamt, Gips patiniert', 'data-large' => '/images/galleries/119/IMGP2295_440x.jpg', 'data-small' => '/images/galleries/119/IMGP2295_220x.jpg', src: '/images/galleries/119/IMGP2295_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Freiamt
  .item.kunst
    %span.description{style: 'display: none;'} Modelliert aus Ton.
    %span.name{style: 'display: none;'} Büste
    %img{alt: 'kunst: Büste , Modelliert aus Ton.', 'data-large' => '/images/galleries/119/PICT0028.JPG_440x.jpg', 'data-small' => '/images/galleries/119/PICT0028.JPG_220x.jpg', src: '/images/galleries/119/PICT0028.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Büste
  .item.portraits-modellieren
    %span.description{style: 'display: none;'} Ansicht
    %span.name{style: 'display: none;'} Portrait Broze
    %img{alt: 'portraits-modellieren: Portrait Broze, Ansicht', 'data-large' => '/images/galleries/94/Portraits_modellieren_1_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_1_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Portrait Broze
  .item.portraits-modellieren
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Büste aus Ton
    %img{alt: 'portraits-modellieren: Büste aus Ton, ', 'data-large' => '/images/galleries/94/Portraits_modellieren_2_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_2_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Büste aus Ton
  .item.portraits-modellieren
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Portraits aus Gips
    %img{alt: 'portraits-modellieren: Portraits aus Gips, ', 'data-large' => '/images/galleries/94/Portraits_modellieren_3_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_3_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Portraits aus Gips
  .item.portraits-modellieren
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Portrait aus Broze
    %img{alt: 'portraits-modellieren: Portrait aus Broze, ', 'data-large' => '/images/galleries/94/Portraits_modellieren_4_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_4_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Portrait aus Broze
  .item.portraits-modellieren
    %span.description{style: 'display: none;'} Siezende Figur aus Bronze im Masstab 1 zu 2
    %span.name{style: 'display: none;'} Siezende Figur
    %img{alt: 'portraits-modellieren: Siezende Figur , Siezende Figur aus Bronze im Masstab 1 zu 2', 'data-large' => '/images/galleries/94/Portraits_modellieren_5_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_5_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Siezende Figur
  .item.portraits-modellieren
    %span.description{style: 'display: none;'} Broze Kopf mit Verde Spluga Sockel
    %span.name{style: 'display: none;'} Broze Kopf
    %img{alt: 'portraits-modellieren: Broze Kopf, Broze Kopf mit Verde Spluga Sockel ', 'data-large' => '/images/galleries/94/Portraits_modellieren_6_440x.jpg', 'data-small' => '/images/galleries/94/Portraits_modellieren_6_220x.jpg', src: '/images/galleries/94/Portraits_modellieren_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Broze Kopf
