---
layout: 'gallery'
---

%h2 Über uns

%p The way of the stone - wie der Name erahnen lässt, dreht sich hier alles um Stein in mannigfaltiger Anwendung. Gegründet im Jahr 2003 von Rafael Häfliger, entwickelte sich der Einzelbetrieb zu einer florierenden, professionellen Unternehmung mit fünf Angestellten und einem grossen Netzwerk aus freiberuflichen Mitarbeitern im Herzen von Wohlen.
%p Das sind wir:

%ul
  %li
    Rafael Häfliger (
    = link_to 'Biographie', '/ueber-uns/biographie-rafael-haefliger.html'
    ), Bildhauer und Plastiker, Gründer und Inhaber ➜
    %a{href: 'mailto:rafael@thewayofthestone.ch'} rafael@thewayofthestone.ch
  %li
    René Philippe, Bildhauer, Werkstattchef ➜
    %a{href: 'mailto:rene@thewayofthestone.ch'} rene@thewayofthestone.ch
  %li Zoran Simic, Steinmetz, Restaurator
  %li Michael Vock, Bildhauer-Lehrling, 4. Lehrjahr
  %li Simon Meier, Bildhauer-Lehrling, 1. Lehrjahr
  %li
    Monika Stöckli, Backoffice &amp; Administration ➜
    %a{href: 'mailto:monika@thewayofthestone.ch'} monika@thewayofthestone.ch

%h2 Einblicke
%p Nehmen Sie Einblick in unsere kleine, aber feine Firma. Besuchen Sie unser Atelier und schauen Sie uns bei der Arbeit über die Schultern:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Team', '#team', name: 'team'
  %li
    = link_to '➜Team at work', '#team-at-work', name: 'team-at-work'
  %li
    = link_to '➜Auftragsarbeiten', '#auftragsarbeiten', name: 'grabsteine'
  %li
    = link_to '➜Atelier, Werkstatt, Ausstellungsraum', '#atelier-werkstatt-ausstellungsraum', name: 'atelier-werkstatt-ausstellungsraum'

#gallery
  .item.team
    %span.description{style: 'display: none;'} Rafael Häfliger, Bildhauer, Gründer und Inhaber
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team: Rafael Häfliger, Rafael Häfliger, Bildhauer, Gründer und Inhaber', 'data-large' => '/images/galleries/87/rafi_1_440x.jpg', 'data-small' => '/images/galleries/87/rafi_1_220x.jpg', src: '/images/galleries/87/rafi_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team
    %span.description{style: 'display: none;'} René Philippe, Bildhauer, Werkstattleiter
    %span.name{style: 'display: none;'} René Philippe
    %img{alt: 'team: René Philippe, René Philippe, Bildhauer, Werkstattleiter', 'data-large' => '/images/galleries/87/rene_2_440x.jpg', 'data-small' => '/images/galleries/87/rene_2_220x.jpg', src: '/images/galleries/87/rene_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philippe
  .item.team
    %span.description{style: 'display: none;'} Zoran Simic, Steinmetz, Restaurator
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team: Zoran Simic, Zoran Simic, Steinmetz, Restaurator', 'data-large' => '/images/galleries/87/zoran_3_440x.jpg', 'data-small' => '/images/galleries/87/zoran_3_220x.jpg', src: '/images/galleries/87/zoran_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.team
    %span.description{style: 'display: none;'} Michael Vock, Bildhauer-Lehrling, 4. Lehrjahr
    %span.name{style: 'display: none;'} Michael Vock
    %img{alt: 'team: Michael Vock, Michael Vock, Bildhauer-Lehrling, 4. Lehrjahr', 'data-large' => '/images/galleries/87/michi_4_440x.jpg', 'data-small' => '/images/galleries/87/michi_4_220x.jpg', src: '/images/galleries/87/michi_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Michael Vock
  .item.team
    %span.description{style: 'display: none;'} Simon Meier, Bildhauer-Lehrling, 1. Lehrjahr
    %span.name{style: 'display: none;'} Simon Meier
    %img{alt: 'team: Simon Meier, Simon Meier, Bildhauer-Lehrling, 1. Lehrjahr', 'data-large' => '/images/galleries/87/simon_440x.jpg', 'data-small' => '/images/galleries/87/simon_220x.jpg', src: '/images/galleries/87/simon_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Simon Meier
  .item.team
    %span.description{style: 'display: none;'} Monika Stöckli, Backoffice &amp; Administration
    %span.name{style: 'display: none;'} Monika Stöckli
    %img{alt: 'team: Monika Stöckli, Monika Stöckli, Backoffice & Administration', 'data-large' => '/images/galleries/87/monika_5_440x.jpg', 'data-small' => '/images/galleries/87/monika_5_220x.jpg', src: '/images/galleries/87/monika_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Monika Stöckli
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Valentino Zucchetti
    %img{alt: 'team-at-work: Valentino Zucchetti , ', 'data-large' => '/images/galleries/88/PICT0029_440x.jpg', 'data-small' => '/images/galleries/88/PICT0029_220x.jpg', src: '/images/galleries/88/PICT0029_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Valentino Zucchetti
  .item.team-at-work
    %span.description{style: 'display: none;'} Arbeit Zoran Simic.
    %span.name{style: 'display: none;'} Randabschluss Dottikon
    %img{alt: 'team-at-work: Randabschluss Dottikon , Arbeit Zoran Simic.', 'data-large' => '/images/galleries/88/PICT0008_440x.JPG', 'data-small' => '/images/galleries/88/PICT0008_220x.JPG', src: '/images/galleries/88/PICT0008_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Randabschluss Dottikon
  .item.team-at-work
    %span.description{style: 'display: none;'} Zoran Simic
    %span.name{style: 'display: none;'} Naturstein bohren
    %img{alt: 'team-at-work: Naturstein bohren , Zoran Simic', 'data-large' => '/images/galleries/88/DSC00115_440x.jpg', 'data-small' => '/images/galleries/88/DSC00115_220x.jpg', src: '/images/galleries/88/DSC00115_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Naturstein bohren
  .item.team-at-work
    %span.description{style: 'display: none;'} Tunnel Landikon - Wetzwiel
    %span.name{style: 'display: none;'} Tunnelbau René Philliphe
    %img{alt: 'team-at-work: Tunnelbau René Philliphe , Tunnel Landikon - Wetzwiel ', 'data-large' => '/images/galleries/88/DSC00535_440x.JPG', 'data-small' => '/images/galleries/88/DSC00535_220x.JPG', src: '/images/galleries/88/DSC00535_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Tunnelbau René Philliphe
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Familien Grab Versetzung mit Krahn.
    %img{alt: 'team-at-work: Familien Grab Versetzung mit Krahn., ', 'data-large' => '/images/galleries/88/IMGP3114_440x.jpg', 'data-small' => '/images/galleries/88/IMGP3114_220x.jpg', src: '/images/galleries/88/IMGP3114_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familien Grab Versetzung mit Krahn.
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rand Abschluss Dottikon
    %img{alt: 'team-at-work: Rand Abschluss Dottikon , ', 'data-large' => '/images/galleries/88/PICT0012_440x.JPG', 'data-small' => '/images/galleries/88/PICT0012_220x.JPG', src: '/images/galleries/88/PICT0012_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Rand Abschluss Dottikon
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tunnel Sanierung Landikon-Wetzwiel
    %img{alt: 'team-at-work: Tunnel Sanierung Landikon-Wetzwiel , ', 'data-large' => '/images/galleries/88/DSC00515_440x.jpg', 'data-small' => '/images/galleries/88/DSC00515_220x.jpg', src: '/images/galleries/88/DSC00515_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Tunnel Sanierung Landikon-Wetzwiel
  .item.team-at-work
    %span.description{style: 'display: none;'} Beton Skulptur
    %span.name{style: 'display: none;'} Michael Vock
    %img{alt: 'team-at-work: Michael Vock, Beton Skulptur ', 'data-large' => '/images/galleries/88/PICT0041_440x.JPG', 'data-small' => '/images/galleries/88/PICT0041_220x.JPG', src: '/images/galleries/88/PICT0041_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Michael Vock
  .item.team-at-work
    %span.description{style: 'display: none;'} In beim versetzen!
    %span.name{style: 'display: none;'} Michael Vock
    %img{alt: 'team-at-work: Michael Vock, In beim versetzen! ', 'data-large' => '/images/galleries/88/IMGP2267_440x.jpg', 'data-small' => '/images/galleries/88/IMGP2267_220x.jpg', src: '/images/galleries/88/IMGP2267_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Michael Vock
  .item.team-at-work
    %span.description{style: 'display: none;'} Tunnel Restaurierung
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team-at-work: Zoran Simic, Tunnel Restaurierung ', 'data-large' => '/images/galleries/88/DSC00484_440x.jpg', 'data-small' => '/images/galleries/88/DSC00484_220x.jpg', src: '/images/galleries/88/DSC00484_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.team-at-work
    %span.description{style: 'display: none;'} Bild:Frisch Aufgehängter Türsturz der vor einem Abriss gerettet wurde. Mit dem Familienwappen der Familie.
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team-at-work: Zoran Simic, Bild:Frisch Aufgehängter Türsturz der vor einem Abriss gerettet wurde. Mit dem Familienwappen der Familie.', 'data-large' => '/images/galleries/88/DSC00342_440x.jpg', 'data-small' => '/images/galleries/88/DSC00342_220x.jpg', src: '/images/galleries/88/DSC00342_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.team-at-work
    %span.description{style: 'display: none;'} Am zweiten Bildhauersymposium 2010.
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, Am zweiten Bildhauersymposium 2010.', 'data-large' => '/images/galleries/88/DSC01283_440x.jpeg', 'data-small' => '/images/galleries/88/DSC01283_220x.jpeg', src: '/images/galleries/88/DSC01283_220x.jpeg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, ', 'data-large' => '/images/galleries/88/Team_at_work_1_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_1_220x.jpg', src: '/images/galleries/88/Team_at_work_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, ', 'data-large' => '/images/galleries/88/Team_at_work_2_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_2_220x.jpg', src: '/images/galleries/88/Team_at_work_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team-at-work: Zoran Simic, ', 'data-large' => '/images/galleries/88/Team_at_work_3_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_3_220x.jpg', src: '/images/galleries/88/Team_at_work_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} René Philliphe
    %img{alt: 'team-at-work: René Philliphe, ', 'data-large' => '/images/galleries/88/Team_at_work_4_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_4_220x.jpg', src: '/images/galleries/88/Team_at_work_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philliphe
  .item.team-at-work
    %span.description{style: 'display: none;'} Rafael Häfliger am Historischen Markt in Bremgarten
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, Rafael Häfliger am Historischen Markt in Bremgarten', 'data-large' => '/images/galleries/88/Team_at_work_5_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_5_220x.jpg', src: '/images/galleries/88/Team_at_work_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, ', 'data-large' => '/images/galleries/88/Team_at_work_6_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_6_220x.jpg', src: '/images/galleries/88/Team_at_work_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, ', 'data-large' => '/images/galleries/88/Team_at_work_7_440x.jpg', 'data-small' => '/images/galleries/88/Team_at_work_7_220x.jpg', src: '/images/galleries/88/Team_at_work_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'} at work
    %span.name{style: 'display: none;'} Zoran und Michi
    %img{alt: 'team-at-work: Zoran und Michi , at work', 'data-large' => '/images/galleries/88/Wegkreuze1_800x600_440x.jpeg', 'data-small' => '/images/galleries/88/Wegkreuze1_800x600_220x.jpeg', src: '/images/galleries/88/Wegkreuze1_800x600_220x.jpeg'}/
    .ic_caption{style: 'display: none;'} Zoran und Michi
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Rafael Häfliger
    %img{alt: 'team-at-work: Rafael Häfliger, ', 'data-large' => '/images/galleries/88/PICT0010_440x.jpg', 'data-small' => '/images/galleries/88/PICT0010_220x.jpg', src: '/images/galleries/88/PICT0010_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Rafael Häfliger
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} René Philliphe
    %img{alt: 'team-at-work: René Philliphe, ', 'data-large' => '/images/galleries/88/IMGP3004_440x.jpg', 'data-small' => '/images/galleries/88/IMGP3004_220x.jpg', src: '/images/galleries/88/IMGP3004_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philliphe
  .item.team-at-work
    %span.description{style: 'display: none;'} Aufstellung Gersau Art.
    %span.name{style: 'display: none;'} Michael Vock u. Zoran Simic
    %img{alt: 'team-at-work: Michael Vock u. Zoran Simic , Aufstellung Gersau Art.', 'data-large' => '/images/galleries/88/IMGP2949_440x.jpg', 'data-small' => '/images/galleries/88/IMGP2949_220x.jpg', src: '/images/galleries/88/IMGP2949_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Michael Vock u. Zoran Simic
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gersau Art
    %img{alt: 'team-at-work: Gersau Art, ', 'data-large' => '/images/galleries/88/IMGP2958_440x.jpg', 'data-small' => '/images/galleries/88/IMGP2958_220x.jpg', src: '/images/galleries/88/IMGP2958_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gersau Art
  .item.team-at-work
    %span.description{style: 'display: none;'} Brunnen Restaurierung.
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team-at-work: Zoran Simic, Brunnen Restaurierung.', 'data-large' => '/images/galleries/88/IMGP2718_440x.jpg', 'data-small' => '/images/galleries/88/IMGP2718_220x.jpg', src: '/images/galleries/88/IMGP2718_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.team-at-work
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} René Philippe
    %img{alt: 'team-at-work: René Philippe , ', 'data-large' => '/images/galleries/88/IMGP0756.JPG_440x.jpg', 'data-small' => '/images/galleries/88/IMGP0756.JPG_220x.jpg', src: '/images/galleries/88/IMGP0756.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philippe
  .item.team-at-work
    %span.description{style: 'display: none;'} Taverne Schloss Hilfikon.
    %span.name{style: 'display: none;'} Michael Vock
    %img{alt: 'team-at-work: Michael Vock , Taverne Schloss Hilfikon.', 'data-large' => '/images/galleries/88/IMGP2354_440x.jpg', 'data-small' => '/images/galleries/88/IMGP2354_220x.jpg', src: '/images/galleries/88/IMGP2354_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Michael Vock
  .item.team-at-work
    %span.description{style: 'display: none;'} Kirche Jonen Priestergrab.
    %span.name{style: 'display: none;'} René Philippe
    %img{alt: 'team-at-work: René Philippe, Kirche Jonen Priestergrab. ', 'data-large' => '/images/galleries/88/DSC00068_440x.jpg', 'data-small' => '/images/galleries/88/DSC00068_220x.jpg', src: '/images/galleries/88/DSC00068_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philippe
  .item.team-at-work
    %span.description{style: 'display: none;'} Kirche Jonen Priestergrab.
    %span.name{style: 'display: none;'} Zoran Simic
    %img{alt: 'team-at-work: Zoran Simic, Kirche Jonen Priestergrab. ', 'data-large' => '/images/galleries/88/DSC00070_440x.jpg', 'data-small' => '/images/galleries/88/DSC00070_220x.jpg', src: '/images/galleries/88/DSC00070_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zoran Simic
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} DSC00201
    %img{alt: 'auftragsarbeiten: DSC00201, ', 'data-large' => '/images/galleries/133/DSC00201_440x.JPG', 'data-small' => '/images/galleries/133/DSC00201_220x.JPG', src: '/images/galleries/133/DSC00201_220x.JPG'}/
    .ic_caption{style: 'display: none;'} DSC00201
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Hartsandstein
    %img{alt: 'auftragsarbeiten: Hartsandstein, Schrift:graviert', 'data-large' => '/images/galleries/133/DSC00199_440x.JPG', 'data-small' => '/images/galleries/133/DSC00199_220x.JPG', src: '/images/galleries/133/DSC00199_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Hartsandstein
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Buntsandstein
    %img{alt: 'auftragsarbeiten: Buntsandstein, Schrift:graviert', 'data-large' => '/images/galleries/133/DSC00200_440x.JPG', 'data-small' => '/images/galleries/133/DSC00200_220x.JPG', src: '/images/galleries/133/DSC00200_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Buntsandstein
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Kalksteine
    %img{alt: 'auftragsarbeiten: Kalksteine, Schrift:graviert', 'data-large' => '/images/galleries/133/DSC00202_440x.JPG', 'data-small' => '/images/galleries/133/DSC00202_220x.JPG', src: '/images/galleries/133/DSC00202_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Kalksteine
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Alpenkalk
    %img{alt: 'auftragsarbeiten: Alpenkalk, Schrift:graviert', 'data-large' => '/images/galleries/133/DSC00203_440x.JPG', 'data-small' => '/images/galleries/133/DSC00203_220x.JPG', src: '/images/galleries/133/DSC00203_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Alpenkalk
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Buntsandstein
    %img{alt: 'auftragsarbeiten: Buntsandstein, Schrift:graviert', 'data-large' => '/images/galleries/133/DSC00207_440x.JPG', 'data-small' => '/images/galleries/133/DSC00207_220x.JPG', src: '/images/galleries/133/DSC00207_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Buntsandstein
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} René Philippe
    %img{alt: 'auftragsarbeiten: René Philippe , ', 'data-large' => '/images/galleries/133/DSC00312_440x.jpg', 'data-small' => '/images/galleries/133/DSC00312_220x.jpg', src: '/images/galleries/133/DSC00312_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philippe
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'} Manitu Radlader.
    %span.name{style: 'display: none;'} René Philippe
    %img{alt: 'auftragsarbeiten: René Philippe, Manitu Radlader.', 'data-large' => '/images/galleries/133/DSC00316_440x.jpg', 'data-small' => '/images/galleries/133/DSC00316_220x.jpg', src: '/images/galleries/133/DSC00316_220x.jpg'}/
    .ic_caption{style: 'display: none;'} René Philippe
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Turmbau Georg UTZ AG
    %img{alt: 'auftragsarbeiten: Turmbau Georg UTZ AG, ', 'data-large' => '/images/galleries/133/DSC00318_440x.jpg', 'data-small' => '/images/galleries/133/DSC00318_220x.jpg', src: '/images/galleries/133/DSC00318_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Turmbau Georg UTZ AG
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Turmbau Georg UTZ AG
    %img{alt: 'auftragsarbeiten: Turmbau Georg UTZ AG, ', 'data-large' => '/images/galleries/133/DSC00319_440x.jpg', 'data-small' => '/images/galleries/133/DSC00319_220x.jpg', src: '/images/galleries/133/DSC00319_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Turmbau Georg UTZ AG
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Turmbau Georg UTZ AG
    %img{alt: 'auftragsarbeiten: Turmbau Georg UTZ AG, ', 'data-large' => '/images/galleries/133/DSC00320_440x.JPG', 'data-small' => '/images/galleries/133/DSC00320_220x.JPG', src: '/images/galleries/133/DSC00320_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Turmbau Georg UTZ AG
  .item.auftragsarbeiten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} OMYA
    %img{alt: 'auftragsarbeiten: OMYA, ', 'data-large' => '/images/galleries/133/DSC00222_440x.JPG', 'data-small' => '/images/galleries/133/DSC00222_220x.JPG', src: '/images/galleries/133/DSC00222_220x.JPG'}/
    .ic_caption{style: 'display: none;'} OMYA
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
      Ausstellungsraum am Kirchenrain 2 in Wohlen.
      Öffnungszeiten auf Anfrage.
    %span.name{style: 'display: none;'} Ausstellungsraum
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Ausstellungsraum, Ausstellungsraum am Kirchenrain 2 in Wohlen.\r\nÖffnungszeiten auf Anfrage.', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_1_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_1_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Ausstellungsraum
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
      Ausstellungsraum am Kirchenrain 2 in Wohlen.
      Öffnungszeiten auf Anfrage.
    %span.name{style: 'display: none;'} Ausstellungsraum
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Ausstellungsraum, Ausstellungsraum am Kirchenrain 2 in Wohlen.\r\nÖffnungszeiten auf Anfrage.', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_2_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_2_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Ausstellungsraum
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
      Ausstellungsraum am Kirchenrain 2 in Wohlen.
      Öffnungszeiten auf Anfrage.
    %span.name{style: 'display: none;'} Ausstellungsraum
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Ausstellungsraum, Ausstellungsraum am Kirchenrain 2 in Wohlen.\r\nÖffnungszeiten auf Anfrage.', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_3_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_3_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Ausstellungsraum
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Werkstatt Atelier kleiner Einblick , ', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_4_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_4_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Werkstatt Atelier kleiner Einblick , ', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_5_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_5_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Werkstatt Atelier kleiner Einblick , ', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_6_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_6_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Werkstatt Atelier kleiner Einblick , ', 'data-large' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_7_440x.jpg', 'data-small' => '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_7_220x.jpg', src: '/images/galleries/86/Atelier_Werkstatt_Ausstellungsraum_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Werkstatt Atelier kleiner Einblick
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Einblick in das Atelier
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Einblick in das Atelier, ', 'data-large' => '/images/galleries/86/IMGP2700_440x.jpg', 'data-small' => '/images/galleries/86/IMGP2700_220x.jpg', src: '/images/galleries/86/IMGP2700_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Einblick in das Atelier
  .item.atelier-werkstatt-ausstellungsraum
    %span.description{style: 'display: none;'}
      Wegkreuze am
      Restaurieren.
    %span.name{style: 'display: none;'} Wegkreuze
    %img{alt: 'atelier-werkstatt-ausstellungsraum: Wegkreuze , Wegkreuze am\r\nRestaurieren.', 'data-large' => '/images/galleries/86/PICT0017_440x.jpg', 'data-small' => '/images/galleries/86/PICT0017_220x.jpg', src: '/images/galleries/86/PICT0017_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuze
