---
layout: 'gallery'
---

%h2 Gartengestaltung

%p Wir planen und setzten eine kreative Gartengestaltung anhand ihrer Vorstellung um. Die Kombinationsmöglichkeiten von Stein, Metalle, Holz und Pflanzen sind unendlich und geben ihrem eigenen flecken Grün ein persönliches Flair welches zum träumen einlädt. Lassen Sie sich von uns die vielfältigen Möglichkeiten einer perfekt auf die Umgebung abgestimmten Gartengestaltung zeigen und verwandeln Sie ihren persönlichen Rückzugsort in eine wunderschöne Oase um sich vom Stress des Alltages erholen zu können.
%p Wir entwickeln komplexe Gartenkonzepte mit Naturweiher, Brunnen, Vogelbäder, wetterfeste Naturtische und -bänke, Feuerstellen und Feuerschalen, Trockenmauern, Treppen und Naturwege, wunderschönen Steinen und Figuren, alles verschmelzend integriert in eine vielfältige Pflanzenwelt abgestimmt auf ihre Bedürfnisse.

%h2 Interior Design

%p Unsere Kreativität macht nicht halt vor Innenräumen: Wir gestalten ihr Schaufenster auf besondere Art und machen ihr Geschäft zu einem magischen Blickfang. Unser Team entwickelt einmalige Bäder, Duschen und Lavabos, welche kombiniert mit entspannendem Licht ihre eigenen kleinen Badelandschaften formt. An den einzigartigen, langlebigen Tische und Bänke aus Stein und Holz werden Sie ein ganzen Leben Freude haben. Wir schöpfen aus einem unendlichen Fundus an Gestaltungselementen aus unserem künstlerischen Umfeld und haben auf fast jeden Wunsch eine Lösung parat.

%h2 Ausstellung

%p Besuchen Sie uns nach einer kurzen, telefonischen Voranmeldung und wir zeigen Ihnen gerne unseren Referenzgarten und Ausstellungsräume, welche Sie ganz sicher inspirieren werden.
%p Wir laden Sie ausserdem dazu ein, die Bildergalerien unterhalb zu durchstöbern, damit Sie einen kleinen Eindruck unserer Arbeiten erhalten:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Gartengestaltung', '#gartengestaltung', name: 'gartengestaltung'
  %li
    = link_to '➜Schwebende Steine', '#schwebende-steine', name: 'schwebende-steine'
  %li
    = link_to '➜Trockenmauerbau', '#trockenmauerbau', name: 'trockenmauerbau'
  %li
    = link_to '➜Interior Design', '#interior-design', name: 'interior-design'
  %li
    = link_to '➜Lavabos', '#lavabos', name: 'lavabos'
  %li
    = link_to '➜Kunst am Bau', '#kunst-am-bau', name: 'kunst-am-bau'

#gallery
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Quell Stein
    %img{alt: 'gartengestaltung: Quell Stein , ', 'data-large' => '/images/galleries/105/MG_0286_440x.jpg', 'data-small' => '/images/galleries/105/MG_0286_220x.jpg', src: '/images/galleries/105/MG_0286_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Quell Stein
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Quell Stein
    %img{alt: 'gartengestaltung: Quell Stein, ', 'data-large' => '/images/galleries/105/MG_0449_440x.jpg', 'data-small' => '/images/galleries/105/MG_0449_220x.jpg', src: '/images/galleries/105/MG_0449_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Quell Stein
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Insel
    %img{alt: 'gartengestaltung: Insel, ', 'data-large' => '/images/galleries/105/MG_0529_440x.jpg', 'data-small' => '/images/galleries/105/MG_0529_220x.jpg', src: '/images/galleries/105/MG_0529_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Insel
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Echse aus Marmor
    %img{alt: 'gartengestaltung: Echse aus Marmor, ', 'data-large' => '/images/galleries/105/DSC01282_440x.jpeg', 'data-small' => '/images/galleries/105/DSC01282_220x.jpeg', src: '/images/galleries/105/DSC01282_220x.jpeg'}/
    .ic_caption{style: 'display: none;'} Echse aus Marmor
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Unterteilte Mauer aus Maggi Gneis (Tessin) Brunnen aus Flusssteinen
    %span.name{style: 'display: none;'} Gartengestaltung
    %img{alt: 'gartengestaltung: Gartengestaltung, Unterteilte Mauer aus Maggi Gneis (Tessin) Brunnen aus Flusssteinen ', 'data-large' => '/images/galleries/105/Gartengestaltung_1_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_1_220x.jpg', src: '/images/galleries/105/Gartengestaltung_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gartengestaltung
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Brennende Männer Kopfstudie Beton u. Eichenholz
    %span.name{style: 'display: none;'} Brennende Männer
    %img{alt: 'gartengestaltung: Brennende Männer, Brennende Männer Kopfstudie Beton u. Eichenholz', 'data-large' => '/images/galleries/105/Gartengestaltung_6_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_6_220x.jpg', src: '/images/galleries/105/Gartengestaltung_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brennende Männer
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Bachlauf, ein Projekt für Rollstuhlfahrer in der ST. Josef Stiftung Bremgarten
    %span.name{style: 'display: none;'} Bachlauf
    %img{alt: 'gartengestaltung: Bachlauf, Bachlauf, ein Projekt für Rollstuhlfahrer in der ST. Josef Stiftung Bremgarten', 'data-large' => '/images/galleries/105/Gartengestaltung_7_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_7_220x.jpg', src: '/images/galleries/105/Gartengestaltung_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Bachlauf
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Echsen Brunnen aus Mainsandstein (Deutschland)
    %span.name{style: 'display: none;'} Echsen Brunnen
    %img{alt: 'gartengestaltung: Echsen Brunnen, Echsen Brunnen aus Mainsandstein (Deutschland)', 'data-large' => '/images/galleries/105/Gartengestaltung_8_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_8_220x.jpg', src: '/images/galleries/105/Gartengestaltung_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Echsen Brunnen
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Sumstein aus Mägenwieler Muschelkalk
    %span.name{style: 'display: none;'} Sumstein
    %img{alt: 'gartengestaltung: Sumstein  , Sumstein aus Mägenwieler Muschelkalk', 'data-large' => '/images/galleries/105/Gartengestaltung_9_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_9_220x.jpg', src: '/images/galleries/105/Gartengestaltung_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sumstein
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Sitzbank aus Flusssteinen (Tessin) u. Tessiner Eiche
    %span.name{style: 'display: none;'} Sitzbank
    %img{alt: 'gartengestaltung: Sitzbank , Sitzbank aus Flusssteinen (Tessin) u. Tessiner Eiche', 'data-large' => '/images/galleries/105/Gartengestaltung_10_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_10_220x.jpg', src: '/images/galleries/105/Gartengestaltung_10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sitzbank
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Wasserspiel aus Flusssteinen
    %span.name{style: 'display: none;'} Wasserspiel
    %img{alt: 'gartengestaltung: Wasserspiel, Wasserspiel aus Flusssteinen', 'data-large' => '/images/galleries/105/Gartengestaltung_11_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_11_220x.jpg', src: '/images/galleries/105/Gartengestaltung_11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wasserspiel
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Brunnen Anlage aus Diversen Flusssteinen
    %span.name{style: 'display: none;'} Brunnen Anlage
    %img{alt: 'gartengestaltung: Brunnen Anlage, Brunnen Anlage aus Diversen Flusssteinen', 'data-large' => '/images/galleries/105/Gartengestaltung_12_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_12_220x.jpg', src: '/images/galleries/105/Gartengestaltung_12_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Anlage
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Brunnen im Teich aus Flusssteinen
    %span.name{style: 'display: none;'} Brunnen im Teich
    %img{alt: 'gartengestaltung: Brunnen im Teich, Brunnen im Teich aus Flusssteinen ', 'data-large' => '/images/galleries/105/Gartengestaltung_13_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_13_220x.jpg', src: '/images/galleries/105/Gartengestaltung_13_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Teich
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Vogelbad  mit zwei verschiedenen Materiallien
    %span.name{style: 'display: none;'} Vogelbad
    %img{alt: 'gartengestaltung: Vogelbad , Vogelbad  mit zwei verschiedenen Materiallien ', 'data-large' => '/images/galleries/105/Gartengestaltung_14_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_14_220x.jpg', src: '/images/galleries/105/Gartengestaltung_14_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Brunnen Asia Design aus Palü Rubin Kalkstein
    %span.name{style: 'display: none;'} Brunnen Asia Design
    %img{alt: 'gartengestaltung: Brunnen Asia Design , Brunnen Asia Design aus Palü Rubin Kalkstein', 'data-large' => '/images/galleries/105/Gartengestaltung_15_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_15_220x.jpg', src: '/images/galleries/105/Gartengestaltung_15_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Asia Design
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Echse im Garten aus Main Sandstein
    %span.name{style: 'display: none;'} Echse im Garten
    %img{alt: 'gartengestaltung: Echse im Garten, Echse im Garten aus Main Sandstein', 'data-large' => '/images/galleries/105/Gartengestaltung_16_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_16_220x.jpg', src: '/images/galleries/105/Gartengestaltung_16_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Echse im Garten
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen Model
    %img{alt: 'gartengestaltung: Brunnen Model , ', 'data-large' => '/images/galleries/105/Gartengestaltung_18_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_18_220x.jpg', src: '/images/galleries/105/Gartengestaltung_18_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Model
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Garten Unterteilung aus Mägenwieler Muschelkalk
    %span.name{style: 'display: none;'} Garten Unterteilung
    %img{alt: 'gartengestaltung: Garten Unterteilung , Garten Unterteilung aus Mägenwieler Muschelkalk', 'data-large' => '/images/galleries/105/IMG_8807_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8807_220x.JPG', src: '/images/galleries/105/IMG_8807_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Garten Unterteilung
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Kopf im Garten Ausschnitt
    %span.name{style: 'display: none;'} Kopf im Garten
    %img{alt: 'gartengestaltung: Kopf im Garten, Kopf im Garten Ausschnitt ', 'data-large' => '/images/galleries/105/IMG_8854_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8854_220x.JPG', src: '/images/galleries/105/IMG_8854_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Kopf im Garten
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Abtrennung im Garten aus Muschelkalk
    %span.name{style: 'display: none;'} Abtrennung im Garten
    %img{alt: 'gartengestaltung: Abtrennung im Garten, Abtrennung im Garten aus Muschelkalk ', 'data-large' => '/images/galleries/105/IMG_8864_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8864_220x.JPG', src: '/images/galleries/105/IMG_8864_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Abtrennung im Garten
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Bergola aus Gneis u. Akazie
    %span.name{style: 'display: none;'} Bergola
    %img{alt: 'gartengestaltung: Bergola, Bergola aus Gneis u. Akazie ', 'data-large' => '/images/galleries/105/IMG_8874_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8874_220x.JPG', src: '/images/galleries/105/IMG_8874_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Bergola
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Garten Impressionen
    %img{alt: 'gartengestaltung: Garten Impressionen , ', 'data-large' => '/images/galleries/105/IMG_8896_440x.jpg', 'data-small' => '/images/galleries/105/IMG_8896_220x.jpg', src: '/images/galleries/105/IMG_8896_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Garten Impressionen
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Stehende Mauer aus Muschelkalk
    %span.name{style: 'display: none;'} Stehende Mauer
    %img{alt: 'gartengestaltung: Stehende Mauer, Stehende Mauer aus Muschelkalk', 'data-large' => '/images/galleries/105/IMG_8866_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8866_220x.JPG', src: '/images/galleries/105/IMG_8866_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Stehende Mauer
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Bergola mit Marmor Stehlen
    %span.name{style: 'display: none;'} Bergola
    %img{alt: 'gartengestaltung: Bergola, Bergola mit Marmor Stehlen ', 'data-large' => '/images/galleries/105/IMG_8872_440x.jpg', 'data-small' => '/images/galleries/105/IMG_8872_220x.jpg', src: '/images/galleries/105/IMG_8872_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Bergola
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Eichen Palissade im Garten an denen Kletterpflanzen hochwachsen
    %span.name{style: 'display: none;'} Eichen Palissade
    %img{alt: 'gartengestaltung: Eichen Palissade , Eichen Palissade im Garten an denen Kletterpflanzen hochwachsen ', 'data-large' => '/images/galleries/105/IMG_8898_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8898_220x.JPG', src: '/images/galleries/105/IMG_8898_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Eichen Palissade
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Feuerstelle mit einer Trockenmauer zum siezen
    %span.name{style: 'display: none;'} Feuerstelle
    %img{alt: 'gartengestaltung: Feuerstelle , Feuerstelle mit einer Trockenmauer zum siezen ', 'data-large' => '/images/galleries/105/IMG_8926_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8926_220x.JPG', src: '/images/galleries/105/IMG_8926_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Feuerstelle
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Garten Impressionen
    %img{alt: 'gartengestaltung: Garten Impressionen , ', 'data-large' => '/images/galleries/105/IMG_8885_440x.JPG', 'data-small' => '/images/galleries/105/IMG_8885_220x.JPG', src: '/images/galleries/105/IMG_8885_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Garten Impressionen
  .item.gartengestaltung
    %span.description{style: 'display: none;'} Stehlen
    %span.name{style: 'display: none;'} Muschelkalk
    %img{alt: 'gartengestaltung: Muschelkalk, Stehlen', 'data-large' => '/images/galleries/105/IMGP3023_440x.jpg', 'data-small' => '/images/galleries/105/IMGP3023_220x.jpg', src: '/images/galleries/105/IMGP3023_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Muschelkalk
  .item.gartengestaltung
    %span.description{style: 'display: none;'}
      Sich betrachdende Köpfe aus Cristallina Marmor
    %span.name{style: 'display: none;'} Köpfe
    %img{alt: 'gartengestaltung: Köpfe, Sich betrachdende Köpfe aus Cristallina Marmor\r\n\r\n', 'data-large' => '/images/galleries/105/Gartengestaltung_4_440x.jpg', 'data-small' => '/images/galleries/105/Gartengestaltung_4_220x.jpg', src: '/images/galleries/105/Gartengestaltung_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Köpfe
  .item.schwebende-steine
    %span.description{style: 'display: none;'} Schwebende Steine, Flusssteine auf einem 1mm Drahtseil aufgezogen
    %span.name{style: 'display: none;'} Schwebende Steine
    %img{alt: 'schwebende-steine: Schwebende Steine, Schwebende Steine, Flusssteine auf einem 1mm Drahtseil aufgezogen', 'data-large' => '/images/galleries/107/Schwebende_Steine_1_440x.jpg', 'data-small' => '/images/galleries/107/Schwebende_Steine_1_220x.jpg', src: '/images/galleries/107/Schwebende_Steine_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schwebende Steine
  .item.schwebende-steine
    %span.description{style: 'display: none;'} Schwebende Steine, Flusssteine auf einem 1mm Drahtseil aufgezogen
    %span.name{style: 'display: none;'} Schwebende Steine
    %img{alt: 'schwebende-steine: Schwebende Steine, Schwebende Steine, Flusssteine auf einem 1mm Drahtseil aufgezogen', 'data-large' => '/images/galleries/107/Schwebende_Steine_2_440x.jpg', 'data-small' => '/images/galleries/107/Schwebende_Steine_2_220x.jpg', src: '/images/galleries/107/Schwebende_Steine_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schwebende Steine
  .item.trockenmauerbau
    %span.description{style: 'display: none;'} Trockenmauerbau mit Sandkasten
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, Trockenmauerbau mit Sandkasten ', 'data-large' => '/images/galleries/108/Trockenmauerbau_1_440x.jpg', 'data-small' => '/images/galleries/108/Trockenmauerbau_1_220x.jpg', src: '/images/galleries/108/Trockenmauerbau_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8814_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8814_220x.JPG', src: '/images/galleries/108/IMG_8814_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8815_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8815_220x.JPG', src: '/images/galleries/108/IMG_8815_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8824_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8824_220x.JPG', src: '/images/galleries/108/IMG_8824_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'} Trockenmauerbau mit integriertem Sitzplatz
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, Trockenmauerbau mit integriertem Sitzplatz ', 'data-large' => '/images/galleries/108/IMG_8828_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8828_220x.JPG', src: '/images/galleries/108/IMG_8828_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8855_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8855_220x.JPG', src: '/images/galleries/108/IMG_8855_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8856_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8856_220x.JPG', src: '/images/galleries/108/IMG_8856_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8858_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8858_220x.JPG', src: '/images/galleries/108/IMG_8858_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8859_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8859_220x.JPG', src: '/images/galleries/108/IMG_8859_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau , ', 'data-large' => '/images/galleries/108/IMG_8860_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8860_220x.JPG', src: '/images/galleries/108/IMG_8860_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8862_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8862_220x.JPG', src: '/images/galleries/108/IMG_8862_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8897_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8897_220x.JPG', src: '/images/galleries/108/IMG_8897_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.trockenmauerbau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Trockenmauerbau
    %img{alt: 'trockenmauerbau: Trockenmauerbau, ', 'data-large' => '/images/galleries/108/IMG_8899_440x.JPG', 'data-small' => '/images/galleries/108/IMG_8899_220x.JPG', src: '/images/galleries/108/IMG_8899_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Trockenmauerbau
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Schaufenster Brunnen
    %img{alt: 'interior-design: Schaufenster Brunnen , ', 'data-large' => '/images/galleries/109/Interior_Design_1_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_1_220x.jpg', src: '/images/galleries/109/Interior_Design_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schaufenster Brunnen
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Schaufenster Brunnen
    %img{alt: 'interior-design: Schaufenster Brunnen , ', 'data-large' => '/images/galleries/109/Interior_Design_2_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_2_220x.jpg', src: '/images/galleries/109/Interior_Design_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schaufenster Brunnen
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Model Raumgestaltung
    %img{alt: 'interior-design: Model Raumgestaltung , ', 'data-large' => '/images/galleries/109/Interior_Design_4_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_4_220x.jpg', src: '/images/galleries/109/Interior_Design_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Model Raumgestaltung
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Model Raumgestaltung
    %img{alt: 'interior-design: Model Raumgestaltung , ', 'data-large' => '/images/galleries/109/Interior_Design_5_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_5_220x.jpg', src: '/images/galleries/109/Interior_Design_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Model Raumgestaltung
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Model Raumgestaltung
    %img{alt: 'interior-design: Model Raumgestaltung , ', 'data-large' => '/images/galleries/109/Interior_Design_6_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_6_220x.jpg', src: '/images/galleries/109/Interior_Design_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Model Raumgestaltung
  .item.interior-design
    %span.description{style: 'display: none;'} Sitzbank aus Tessiner Gneis und Tessiner Eiche
    %span.name{style: 'display: none;'} Sitzbank
    %img{alt: 'interior-design: Sitzbank , Sitzbank aus Tessiner Gneis und Tessiner Eiche', 'data-large' => '/images/galleries/109/Interior_Design_7_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_7_220x.jpg', src: '/images/galleries/109/Interior_Design_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sitzbank
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tisch Bau
    %img{alt: 'interior-design: Tisch Bau, ', 'data-large' => '/images/galleries/109/IMGP3032_440x.jpg', 'data-small' => '/images/galleries/109/IMGP3032_220x.jpg', src: '/images/galleries/109/IMGP3032_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Tisch Bau
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tisch Bau
    %img{alt: 'interior-design: Tisch Bau, ', 'data-large' => '/images/galleries/109/IMGP3035_440x.jpg', 'data-small' => '/images/galleries/109/IMGP3035_220x.jpg', src: '/images/galleries/109/IMGP3035_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Tisch Bau
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Feuerstelle
    %img{alt: 'interior-design: Feuerstelle , ', 'data-large' => '/images/galleries/109/h_440x.jpg', 'data-small' => '/images/galleries/109/h_220x.jpg', src: '/images/galleries/109/h_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Feuerstelle
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Modell Friedhof
    %img{alt: 'interior-design: Modell Friedhof, ', 'data-large' => '/images/galleries/109/PICT0003.JPG_440x.jpg', 'data-small' => '/images/galleries/109/PICT0003.JPG_220x.jpg', src: '/images/galleries/109/PICT0003.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Modell Friedhof
  .item.interior-design
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Modell Friedhof
    %img{alt: 'interior-design: Modell Friedhof, ', 'data-large' => '/images/galleries/109/PICT0011.JPG_440x.jpg', 'data-small' => '/images/galleries/109/PICT0011.JPG_220x.jpg', src: '/images/galleries/109/PICT0011.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Modell Friedhof
  .item.interior-design
    %span.description{style: 'display: none;'} Figuren aus Gips mit Travertin Leuchten und Stein Badewanne.
    %span.name{style: 'display: none;'} Figuren
    %img{alt: 'interior-design: Figuren, Figuren aus Gips mit Travertin Leuchten und Stein Badewanne.', 'data-large' => '/images/galleries/109/IMG_0113_440x.jpg', 'data-small' => '/images/galleries/109/IMG_0113_220x.jpg', src: '/images/galleries/109/IMG_0113_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Figuren
  .item.lavabos
    %span.description{style: 'display: none;'}
      Raum Design und Idee undAusführung Rafael Häfliger.
      Thewayofthestone.ch
    %span.name{style: 'display: none;'} Waschbecken aus Granit
    %img{alt: 'lavabos: Waschbecken aus Granit , Raum Design und Idee undAusführung Rafael Häfliger.\r\nThewayofthestone.ch', 'data-large' => '/images/galleries/134/IMGP3376_440x.jpg', 'data-small' => '/images/galleries/134/IMGP3376_220x.jpg', src: '/images/galleries/134/IMGP3376_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Waschbecken aus Granit
  .item.lavabos
    %span.description{style: 'display: none;'} Waschbecken  aus Gneis
    %span.name{style: 'display: none;'} Waschbecken
    %img{alt: 'lavabos: Waschbecken , Waschbecken  aus Gneis', 'data-large' => '/images/galleries/109/Interior_Design_3_440x.jpg', 'data-small' => '/images/galleries/109/Interior_Design_3_220x.jpg', src: '/images/galleries/109/Interior_Design_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Waschbecken
  .item.lavabos
    %span.description{style: 'display: none;'} Idee und Umsetzung für das Bad, Rafael Häfliger!
    %span.name{style: 'display: none;'} _Waschbecken aus Kalkstein
    %img{alt: 'lavabos: _Waschbecken aus Kalkstein , Idee und Umsetzung für das Bad, Rafael Häfliger!', 'data-large' => '/images/galleries/134/IGP3528_440x.jpg', 'data-small' => '/images/galleries/134/IGP3528_220x.jpg', src: '/images/galleries/134/IGP3528_220x.jpg'}/
    .ic_caption{style: 'display: none;'} _Waschbecken aus Kalkstein
  .item.lavabos
    %span.description{style: 'display: none;'} Wie auch Wand.Idee und Umsetzung Rafael Häfliger.
    %span.name{style: 'display: none;'} Waschtrog aus Tessiner Gneis
    %img{alt: 'lavabos: Waschtrog aus Tessiner Gneis , Wie auch Wand.Idee und Umsetzung Rafael Häfliger.', 'data-large' => '/images/galleries/134/IMGP3513_440x.jpg', 'data-small' => '/images/galleries/134/IMGP3513_220x.jpg', src: '/images/galleries/134/IMGP3513_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Waschtrog aus Tessiner Gneis
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst am Bau
    %img{alt: 'kunst-am-bau: Kunst am Bau, ', 'data-large' => '/images/galleries/137/IMGP2500_440x.jpg', 'data-small' => '/images/galleries/137/IMGP2500_220x.jpg', src: '/images/galleries/137/IMGP2500_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst am Bau
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst am Bau
    %img{alt: 'kunst-am-bau: Kunst am Bau, ', 'data-large' => '/images/galleries/137/IMGP2505_440x.jpg', 'data-small' => '/images/galleries/137/IMGP2505_220x.jpg', src: '/images/galleries/137/IMGP2505_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst am Bau
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kunst am Bau
    %img{alt: 'kunst-am-bau: Kunst am Bau, ', 'data-large' => '/images/galleries/137/Gartengestaltung_5_440x.jpg', 'data-small' => '/images/galleries/137/Gartengestaltung_5_220x.jpg', src: '/images/galleries/137/Gartengestaltung_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kunst am Bau
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zwergen aus Eichenholz
    %img{alt: 'kunst-am-bau: Zwergen aus Eichenholz, ', 'data-large' => '/images/galleries/137/PICT0003_440x.jpg', 'data-small' => '/images/galleries/137/PICT0003_220x.jpg', src: '/images/galleries/137/PICT0003_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zwergen aus Eichenholz
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zwergen aus Eichenholz
    %img{alt: 'kunst-am-bau: Zwergen aus Eichenholz, ', 'data-large' => '/images/galleries/137/PICT0004_440x.jpg', 'data-small' => '/images/galleries/137/PICT0004_220x.jpg', src: '/images/galleries/137/PICT0004_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zwergen aus Eichenholz
  .item.kunst-am-bau
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zwergen aus Eichenholz
    %img{alt: 'kunst-am-bau: Zwergen aus Eichenholz, ', 'data-large' => '/images/galleries/137/PICT0001_440x.jpg', 'data-small' => '/images/galleries/137/PICT0001_220x.jpg', src: '/images/galleries/137/PICT0001_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zwergen aus Eichenholz
